<form (submit)="onSubmit()">
  <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" class="form-control" id="nom" [(ngModel)]="model.nom" name="nom">
  </div>
  <div class="form-group">
    <label for="prenom">Prénom:</label>
    <input type="text" class="form-control" id="prenom" [(ngModel)]="model.prenom" name="prenom">
  </div>
  <div class="form-group">
    <label for="dateDeNaissance">Date de naissance:</label>
    <input type="date" class="form-control" id="dateDeNaissance" [(ngModel)]="model.dateDeNaissance" name="dateDeNaissance">
  </div>
  <div class="form-group">
    <label for="numeroNational">Numéro national:</label>
    <input type="text" class="form-control" id="numeroNational" [(ngModel)]="model.numeroNational" name="numeroNational">
  </div>
  <div class="form-group">
    <label for="gynecologue">Gynécologue:</label>
    <input type="text" class="form-control" id="gynecologue" [(ngModel)]="model.gynecologue" name="gynecologue">
  </div>
  <div class="form-group">
    <label for="mutuelle">Mutuelle:</label>
    <input type="text" class="form-control" id="mutuelle" [(ngModel)]="model.mutuelle" name="mutuelle">
  </div>
  <div class="form-group">
    <label for="numeroDeTelephone">Numéro de téléphone:</label>
    <input type="text" class="form-control" id="numeroDeTelephone" [(ngModel)]="model.numeroDeTelephone" name="numeroDeTelephone">
  </div>
  <div class="form-group">
    <label for="mail">Adresse email:</label>
    <input type="email" class="form-control" id="mail" [(ngModel)]="model.mail" name="mail">
  </div>

  <h1>Adresse Postale</h1>

  <div class="form-group">
    <label for="ville">Ville:</label>
    <input type="text" class="form-control" id="ville" [(ngModel)]="model.ville" name="ville">
  </div>
  <div class="form-group">
    <label for="rue">Rue:</label>
    <input type="text" class="form-control" id="rue" [(ngModel)]="model.rue" name="rue">
  </div>
  <div class="form-group">
    <label for="numeroDeMaison">Numéro:</label>
    <input type="text" class="form-control" id="numeroDeMaison" [(ngModel)]="model.numeroDeMaison" name="numeroDeMaison">
  </div>
  <div class="form-group">
    <label for="lieuDit">Le lieu Dit :</label>
    <input type="text" class="form-control" id="lieuDit" [(ngModel)]="model.lieuDit" name="lieuDit">
  </div>
  <div class="form-group">
    <label for="traitSpec">Trait Spécifique à l'habitation:</label>
    <input type="text" class="form-control" id="traitSpec" [(ngModel)]="model.traitSpec" name="traitSpec">
  </div>
  <div class="form-group">
    <label for="km">Km parcouru:</label>
    <input type="text" class="form-control" id="km" [(ngModel)]="model.km" name="km">
  </div>



  <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
