.mat-mdc-table {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.mat-column-action {
  height: 100px;
}

.mat-header-cell{
  max-height: 10px;
}
.mat-elevation-z8 {
  width: 1000px;
}

.table-container {
  th {
    max-height: 10px;
  }

  width: 80%;
}
