<div class="mat-elevation-z8">

    <table class="table-container" mat-table [dataSource]="listPatientes" tableActe >
      <ng-container matColumnDef="dateDeNaissance">
        <th mat-header-cell *matHeaderCellDef> Date de Naissance</th>
        <td mat-cell *matCellDef="let element"> {{ datePipe.transform(element.dateDeNaissance, 'dd-MM-yyyy') }}</td>
      </ng-container>


      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>


      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef> Prénom </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroDeTelephone">
        <th mat-header-cell *matHeaderCellDef> Numéro de téléphone </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroDeTelephone}} </td>
      </ng-container>

      <ng-container matColumnDef="ville">
        <th mat-header-cell *matHeaderCellDef> Ville </th>
        <td mat-cell *matCellDef="let element"> {{element.ville}} </td>
      </ng-container>

      <ng-container matColumnDef="rue">
        <th mat-header-cell *matHeaderCellDef> Rue </th>
        <td mat-cell *matCellDef="let element"> {{element.rue}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroDeMaison">
        <th mat-header-cell *matHeaderCellDef> Numéro de maison </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroDeMaison}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>



</div>
